*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 /* 
 ==========================================
            Header Section 
===========================================
 */

.header{
    background: radial-gradient(white, #ffd6d6);
}
.logo-img{
    width: 125px;
    
}

.container{
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 20px;
    margin: auto;
    
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: right;
 }


nav ul li a{
    font-size: 1.1rem;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #555;
}

nav ul li a:hover{
    color: blueviolet;
}

.cart-img{
    width: 25px;
    height: 25px;
}

p{
    color: #555;
}


.row{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
     margin: 25px;
     
 }

 .col-2{
     flex-basis: 50%;
     min-width: 300px;
 }

 .col-2 img{
     max-width: 100%;
     padding: 50px 0px;
 }

 .col-2 h1{
    font-size: 60px;
    
 } 

 .col-2 p{
     font-size: 20px;
     
 }

 .btn{
     display: block;
     padding: 10px 35px;
     margin: 30px 0px;
     background: #ff523b;
     border: 1px ;
     border-radius: 20px;
     color: rgb(255, 255, 255);
     cursor: pointer;
     font-weight: 600;
     transition: background .7s;
 }

 .btn:hover{
     background: black;
 }

 .header .row{
     margin-top: 50px;
 }


  /* 
 ==========================================
            Featured Categories Section 
===========================================
 */

 .small-container{
    max-width: 1080px;
    padding-left: 25px;
     padding-right: 25px;
     margin: auto;
 }

 .categories{
     margin: 70px 0px;
 }

 .col-3{
     flex-basis: 33.33%;
     min-width: 250px;
     margin-bottom: 30px;
 }

 .col-3>img{
     width: 100%;
     padding: 0px 10px;
     
 }

   /* 
 ==========================================
            Featured Products Section 
===========================================
 */
 .h2-title{
     text-align: center;
     font-size: 30px;
     position: relative;
     margin-bottom: 70px;
 }

 .h2-title::after{
     content: '';
     width: 130px;
     height: 4px;
     background: #ff523b;
     border-radius: 5px;
     position: absolute;
     bottom: -5px;
     left: 50%;
     transform: translateX(-50%);
 }

 .col-4{
     flex-basis: 24.4%;
     padding: 0px 20px;
     min-width: 200px;
     margin-bottom: 50px;
     transition: transform .5s;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
     border-radius: 10px;
 }

 .col-4>img{
     width: 100%;
     padding: 0px 0px;
 }

 .featured-products-title{
     color: #555;
     font-weight: 500;
 }

 .col-4 p{
     font-size: 14px;
 }

 .rating .fa{
     color: #ff523b;
 }

 .col-4:hover{
     transform: translate(-5px,-5px);
 }

  /* 
 ==========================================
            Offer Section 
===========================================
 */

 .offer{
    background: radial-gradient(white, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0px;
 }

 .col-2 .offer-img{
     width: 100%;
     padding: 50px;
 }

 small{
     color: #555;
 }

  /* 
 ==========================================
            Testimonial Section 
===========================================
 */

 .testimonial{
     padding-top: 100px;
 }

 .testimonial .col-3{
     flex-basis: 30%;
     text-align: center;
     padding: 40px 20px;
     box-shadow: 0 0 20px rgba(0, 0, 0, .2);
     border-radius: 15px;
     transition: transform .5s;
 }

 .testimonial .col-3 img{
     width: 50%;
     border-radius: 50%;
     margin-top: 20px;
 }

 .testimonial .col-3:hover{
    transform: translate(-10px, -10px);
 }

 .fa.fa-quote-left{
     font-size: 34px;
     color: #ff523b;
 }